html{
  font-size: 10px;
}
body{
  font-size: 1rem;
}



.div-class{
  display: flex;
  justify-content: center; /* 横方向の中央揃え */
  align-items: center;     /* 縦方向の中央揃え */
  flex-direction: column; 
}



/* カテゴリボタンのスタイル */
.button-category-class {
  width: 15rem;
  height: 5rem;
  /* padding: 1rem 1rem; */
  font-size: 2rem;
  
  margin: 0.5rem;
  cursor: pointer; /* カーソルをポインターに */

  /* background-image: url('./sample_img/blue.png'); */
  background-size: cover; /* 画像がボタン全体に広がるように */
  background-position: center; /* 画像の中心をボタンの中心に */

  border: 3px solid rgba(66, 66, 66, 0); 
  /* border: none;  */
  box-shadow: none;       /* ボックスシャドウを削除 */
  outline: none;          /* アウトラインを削除 */

  /*border-radius: 50%;       /* ボタンを丸くする */
  background-color: rgb(255, 255, 255);    /* ボタンの背景色 */
  box-sizing: border-box; /* ボーダーを含むサイズ計算 */
}

.active-category{
  border: 3px solid rgb(0, 0, 0);
  /* border-color:rgb(180, 192, 191); */
}



/* ボタンのスタイル */
.data-button-class {
  width: 5rem;
  height: 5rem;
  /* padding: 1rem 1rem; */
  font-size: 1rem;
  
  margin: 0.5rem;
  cursor: pointer; /* カーソルをポインターに */

  /* background-image: url('./sample_img/blue.png'); */
  background-size: cover; /* 画像がボタン全体に広がるように */
  background-position: center; /* 画像の中心をボタンの中心に */

  border: 3px solid rgba(66, 66, 66, 0);
  /* border: none;  */
  /*border: 3px solid rgb(66, 66, 66);  */
  box-shadow: none;       /* ボックスシャドウを削除 */
  outline: none;          /* アウトラインを削除 */

  border-radius: 50%;       /* ボタンを丸くする */
  background-color: rgb(255, 255, 255);    /* ボタンの背景色 */
  box-sizing: border-box; /* ボーダーを含むサイズ計算 */
}


/* 押された状態のスタイル */
.active {
  /* background-color: #a3a3a3; */
  /* color: white; */
  border: 3px solid rgb(0, 0, 0);
  /* border-color:rgb(192, 192, 192); */
}


/* imageレイアウト */
#image-id
{
  /* width:20rem; */
  width:2rem;
  height:auto;
}




